<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite parallel=tests">
  <test name="SanityTest">
    <classes>
      <class name="com.test.ExceptionTimeOutTest"/>
      <class name="com.test.testNGBasics"/>
      <class name="com.test.TestNGFeatures"/>
      <class name="com.test.InvocationCountTest"/>
      <class name="com.test.GoogleTitleTest"/>
      <class name="com.test.GoogleTest"/>
    </classes>
  </test> <!-- SanityTest -->
</suite> <!-- RegressionSuite -->
